.page {
    max-width: 1280px;
    margin: 0 auto;
    padding: 5px 10px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}