.container {
    background: var(--color-white);
    border-radius: 50%;
    border: none;
    object-fit: cover;
    position: relative;
}

.avatar {
    width: 100%;
    border: none;
    border-radius: 50%;
    height: 100%;
    background: none;
}

.fallback {
    position: absolute;
    color: var(--color-black);
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    z-index: 1;
}