.user_info {
    display: flex;
    margin-top: 10px;
    gap: 10px;
    align-items: start;
}

.user_contacts {
    flex-basis: 33%;
}

.user_biography {
    flex-basis: 66%;
}

@media screen and (max-width: 768px) {
    .user_info {
        flex-direction: column;
    }

    .user_contacts {
        width: 100%;
    }

    .user_biography {
        width: 100%;
    }
}