.user_info {
    display: flex;
    margin-top: 10px;
    gap: 10px;
    align-items: start;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.column:first-child {
    flex-basis: 33%;
}
.column:last-child {
    flex-basis: 66%;

}

@media screen and (max-width: 768px) {
    .user_info {
        flex-direction: column;
    }

    .column:first-child {
        width: 100%;
    }

    .column:last-child {
        width: 100%;
    }
}