.main-page {
    padding: 20px;
}

h1 {
    text-align: center;
}

.description {
    font: var(--font-md);
    color: var(--secondary-color);
}

.task-list {
    list-style-type: none;
    padding: 0;
}

.task-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    transition: box-shadow 0.3s ease;
}

.task-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-item h2 {
    margin-top: 0;
}

.task_links {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.view-button {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.view-button:hover {
    background-color: #0056b3;
}
